<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:name="PreferencesPackage.CRMPovasaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_cinco_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_cinco_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRMPovasa"
        tools:targetApi="31">
        <service android:name="data.LocationService" android:foregroundServiceType="location"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.crm5ymas"
            android:exported="false"
            android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"
                />
        </provider>
        <activity
            android:name=".ActivityEditContact"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".ActivityMaps"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ActivityCotizacion"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityClientInfo"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ActivityRazonNoCompra"
            android:exported="false" />
        <activity
            android:name=".ActivityQuiereComprar"
            android:exported="false" />
        <activity
            android:name=".ActivityVerCliente"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityNuevoCliente"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityPrin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



</manifest>